* {
    background-color: sandybrown;
}

/* selectores de tipo*/
h1 { 
    color: blue;
    text-align: center;
}
h2 {
    color: royalblue;
    font-family: 'Roboto', sans-serif;
}

/* Selectores de clase
Selecciona elementos de clase específica asignada*/
.productos{
    background-color: aquamarine;
}
/*
Selectores de id
permite seleccionar un elemento con su id específico*/

#tipos {
    color: azure;
}

table{
    text-align: center;
    border: 1px solid black;
    border-right: 1px dashed blue;
    border-left: 2px dotted blue;
    border-top: 3px double red;
    border-bottom: 2px solid greenyellow;

}

th, td {
    border: 2px solid black;
}

.tabDos {
    text-align: center;
    border: 2px solid green;
}